a:hover
{
  color: #2c2f46;
}
.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #f2e0d2;
}
/* footer social icons  */
img.socials-foot{
  margin-right: 30px;
  padding-top: 3px;
  margin-left: 18px;
  margin-bottom: -7px;
  width: 25px;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 15px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
}
/* max-width: 1024px */
@media screen and (max-width: 704px){
  /* footer info */
  h1.foot-link  {
    font-size: 18px;
    padding-bottom: 40px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }

  /* footer social icons  */
  img.socials-foot{
    margin-right: 30px;
    margin-left: 18px;
    margin-top: -27px;
    width: 35px;
  }
  /* animated highlight for mobile */
  a.foot-link  {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    background-position: 50% 85%;
  }

  /* animated highlight for mobile */
  a.foot-link:hover  {
    background-size: 26% 25px;
  }

  /* footer header */
  p.foot-link  {
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
  }

  #foot.row{
    display: flex;
    flex-direction:  column;
    margin-left: 5%;
    width: 90vw;
    background-color: #f2e0d2;
  }

  #foot.column{
    display: flex;
    flex-direction:  column;
    flex: 1;
    border-spacing: 5px;
    margin: 20px;
    z-index: 400;
  }

  #foot.one-column{
    text-align: center;
  }

  #member.column {
    /* flex: 2.78;
    width: 500px; */
    flex-direction:  column;
  }

  #foot.two-column{
    text-align: center;
  }

  #foot.three-column{
    text-align: center;
  }
