a:hover
{
  color: #2c2f46;
}
.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #f2e0d2;
}
/* footer social icons  */
img.socials-foot{
  margin-right: 30px;
  padding-top: 3px;
  margin-left: 18px;
  margin-bottom: 0px;
  width: 25px;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 14px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
}
/* max-width: 1024px */
