body, html {
  font-family: "Helvetica";
  height: auto;
  width: 100vw;
  margin: 0;
    z-index: 1;
  background-color:   #f3ecec;
  background-position: center;
 background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-image: url("America-blank-map-01.svg");
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 0%;
  width: 90vw;
}

/* footer links  */
a.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: -5%;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 15% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
  text-decoration: none;
}

/* footer links  */
a.foot-link:hover  {
  font-size: 16px;
  transition: 0.5s;
  opacity: 0.9;
  text-decoration: none;
  background-size: 30% 25px;
  z-index: 400;
}

span {
  color: #222a6e;
  letter-spacing: 0.5px;
  z-index: 400;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
  z-index: 400;
}

/* footer social icons  */
img.socials-foot{
  margin-right: 10px;
  padding-top: 3px;
  margin-left: 8px;
  margin-bottom: -7px;
  width: 25px;
  z-index: 400;
}


#submit.row{
  /* justify-content:flex-start;
    flex-direction:  row; */
  width: 100%;
  margin-left: 90px;
  display: flex;

}
h2.SUBMIT{
  font-family: "Georgia";
  font-size: 40px;
  z-index: 400;
  width: 600px;
  color: #222a6e;;
  padding-top: 200px;
  margin-bottom: 15px;
  font-weight: 600;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  text-align: left;
  margin-left: 60px;
}

h2.top{
  font-family: "Georgia";
  color: #222a6e;;
  font-size: 30px;
  position: absolute;
  transform: scale(0.7, 1);
  -webkit-transform: scale(0.7, 1);/* Safari and Chrome */
  -moz-transform: scale(0.7, 1); /* Firefox */
  -ms-transform: scale(0.7, 1); /* IE 9+ */
  -o-transform: scale(0.7, 1); /* Opera */
  left: calc(50vw - 105px);
  top: 3.3vh;
}
.submit a {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.15, 1);
  -webkit-transform: scale(1.15, 1);/* Safari and Chrome */
  -moz-transform: scale(1.15, 1); /* Firefox */
  -ms-transform: scale(1.15, 1); /* IE 9+ */
  -o-transform: scale(1.15, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-weight: normal;
  font-size: 16px;
  border-radius: 10vw;
  background: #f5e0d0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 4px 14px hsl(4, 19%, 75%);
}

p.submit{
  position: relative;
  padding-top: 20px;
  margin-left: 60px;
}

p.SUBMIT  {
  z-index: 400;
  margin-left: 90px;
  color: #222a6e;;
  text-align: left;
  width: 600px;
  font-weight: 400;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-size: 18px;
  font-weight: thin;
  line-height: 1.5;
  z-index: 400;
  padding-bottom: 30px;

}

.We-are{
  z-index: 400;
}

/****************************************/
.carousel {
  height: 90vh;
  /* width: 100vw; */
  position: relative;
  background-color: none;
  -webkit-animation: background 20s ease infinite;
          animation: background 20s ease infinite;
}
.carousel__slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 70vh;
  width: 65vw;
  padding: 3em 15%;
  opacity: 0;
  -webkit-animation: carousel 20s ease infinite;
          animation: carousel 20s ease infinite;
}
.carousel__slide--01 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.carousel__slide--02 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.carousel__slide--03 {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.carousel__slide--04 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.carousel__slide h2 {
  margin-bottom: 0em;
  font-family: "Georgia";
  font-size: 38px;
  z-index: 400;
  color: #222a6e;;
  margin-bottom: 5px;
  font-weight: 600;
  width: 500px;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  text-align: left;
  line-height: 1.2;
}

.carousel__slide p {
  max-width: 30em;
  font-size: 18px;
  margin-left: 28px;
  color: #222a6e;;
  font-weight: 400;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-weight: thin;
  line-height: 1.5;
  z-index: 400;
}
.carousel__pager {
  position: absolute;
  z-index: 5;
  left: 0px;
  bottom: 32px;
  display: flex;
}

.carousel__pager2 {
  position: absolute;
  z-index: 5;
  right: 30px;
  bottom: 32px;
  display: -webkit-box;
  display: flex;
  list-style-type: none;
}

.carousel__marker {
  overflow: hidden;
  height: 0;
  width: 8px;
  margin: 0 8px;
  padding-top: 8px;
  background-color: #232c6a;
  border-radius: 50%;
  opacity: 0.25;
  -webkit-animation: marker 20s ease infinite;
          animation: marker 20s ease infinite;
}
.carousel__marker--01 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.carousel__marker--02 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.carousel__marker--03 {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.carousel__marker--04 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

/****************************************
 ANIMATIONS
****************************************/
@-webkit-keyframes carousel {
  0% {
    opacity: 0;
    z-index: 3;
    left: -100%;
  }
  5% {
    opacity: 1;
    z-index: 3;
    left: 0;
  }
  10% {
    opacity: 1;
    z-index: 2;
    left: 0;
  }
  25% {
    opacity: 1;
    z-index: 2;
    left: 0;
  }
  30% {
    opacity: 0;
    z-index: 2;
    left: 100%;
  }
  35% {
    opacity: 0;
    z-index: 1;
    left: -100%;
  }
  100% {
    opacity: 0;
    z-index: 1;
    left: -100%;
  }
}
@keyframes carousel {
  0% {
    opacity: 0;
    z-index: 3;
    left: -100%;
  }
  5% {
    opacity: 1;
    z-index: 3;
    left: 0;
  }
  10% {
    opacity: 1;
    z-index: 2;
    left: 0;
  }
  25% {
    opacity: 1;
    z-index: 2;
    left: 0;
  }
  30% {
    opacity: 0;
    z-index: 2;
    left: 100%;
  }
  35% {
    opacity: 0;
    z-index: 1;
    left: -100%;
  }
  100% {
    opacity: 0;
    z-index: 1;
    left: -100%;
  }
}

@-webkit-keyframes marker {
  1% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  2% {
    opacity: 1.00;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  25% {
    opacity: 1.00;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  26% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes marker {
  1% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  2% {
    opacity: 1.00;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  25% {
    opacity: 1.00;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  26% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.25;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* max-width: 1024px */
@media screen and (max-width: 700px){
  h2.top{
    font-family: "Georgia";
    color: #222a6e;;
    font-size: 26px;
    position: absolute;
    transform: scale(0.7, 1);
    left: calc(50vw - 90px);
    top: 5.4vh;
  }

  .carousel__slide {
    padding: 8%;
    margin:0 auto;
  }

  .carousel__slide h2 {
    margin-bottom: 0.25em;
    font-family: "Georgia";
    font-size: 25px;
    z-index: 400;
    color: #222a6e;;
    margin-bottom: 15px;
    font-weight: 600;
    width: 95%;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;

  }
  .carousel__slide p {
    max-width: 20em;
    font-size: 15px;
    margin-left: 26px;
    color: #222a6e;;
    font-weight: 400;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
    font-family: 'Helvetica', sans-serif;
    font-stretch:extra-expanded;
    transform: scale(1.1, 1);
    -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
    -moz-transform: scale(1.1, 1); /* Firefox */
    -ms-transform: scale(1.1, 1); /* IE 9+ */
    -o-transform: scale(1.1, 1); /* Opera */
    letter-spacing: 0.5px;;
    font-weight: thin;
    line-height: 1.5;
    z-index: 400;
  }

  #submit.row{
    justify-content:flex-start;
    width: 100%;
    margin-left: 90px;
  }


  .submit a {
    font-family: 'Helvetica', sans-serif;
    font-stretch:extra-expanded;
    transform: scale(1.15, 1);
    -webkit-transform: scale(1.15, 1);/* Safari and Chrome */
    -moz-transform: scale(1.15, 1); /* Firefox */
    -ms-transform: scale(1.15, 1); /* IE 9+ */
    -o-transform: scale(1.15, 1); /* Opera */
    text-decoration: none;
    color: #222a6e;
    font-weight: normal;
    font-size: 15px;
    border-radius: 2vw;
    background: #f5e0d0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 0px 4px 14px hsl(4, 19%, 75%);

  }

  p.submit{
    padding-top: 20px;
    position: relative;

  }

  img.socials-foot {
    margin-bottom: -4px;
    z-index: 400;
  }

  .bg {
    margin-top: -4vh;
    height: auto;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* animated highlight for mobile */
  a.foot-link  {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    background-position: 50% 85%;
    z-index: 400;
  }

  /* animated highlight for mobile */
  a.foot-link:hover  {
    background-size: 26% 25px;
    z-index: 400;
  }

  /* footer info */
  h1.foot-link  {
    font-size: 18px;
    width: 90%;
    /* margin-left:  21vw; */
    text-align: center;
    margin: 0 auto;
  }

  #socials.row{
    margin-left: 30%;
    overflow: hidden;
    display:inline-flex;
    padding-bottom: 17vh;
  }

  #socials img {
    width: 7.5vw;
    height: auto;
    opacity: 0.75;
    margin-right: 50%;
  }

}
