body, html {
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffe9db;
  /* #ffebdb; */
  /* #fdf5e6; */
   /* #faebd7; */
  /* #def2eb; */
}



/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  padding-top: 5%;
  overflow: hidden;
  font-weight: bold;
  display: flex;
  font-family: "PT Sans", serif;
  float: right;
}

img.title{
  display: flex;
  float: left;
  margin-top: 44px;
  margin-left: 49px;
  width:60px;
}


nav li a {
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 20px;
  background-image: linear-gradient(#f57c72, #f57c72);
  background-position: 9% 95%;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
  color: rgb(0,0,0,0.75);
}

nav li a:hover, a:focus {
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 20px;
  background-size: 100% 5px;
}

.bg {
  /* The image used */
  background-image: url("map.png");
  margin-top: -4vh;
  /* Full height */
  height: auto;
  width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: underline solid #f57c72 1.23px;
  text-decoration-style: wavy;
  color: #f57c72;
  font-size: 15px;
  text-underline-offset: 0.14em;
  text-decoration-thickness: 0.14em;
  
}

a.foot-link:hover  {
  font-family: "PT Sans", serif;
  text-decoration: underline solid #f57c72 1.23px;
  text-decoration-style: wavy;
  color: none;
  font-size: 15px;
  transition: 0.5s;
}

span {
  color: rgb(0,0,0,1);
}

h1.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: none;
  color: rgb(0,0,0,0.75);
  font-size: 15px;
  text-align: left;
  font-weight:lighter;
  width: 75%;
}

p.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,0,0,0.75);
  font-size: 20px;
  line-height: 0.2;
  text-align: left;
}

img.socials-foot{
  width: auto;
  height: 2vh;
  margin-right: 10px;
  padding-top: 3px;
}

#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 7%;
  width: 90vw;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;

}

#foot.two-column{
  text-align: center;
}

#foot.three-column{
  text-align: right;
}

h2.CORDILLERA{
  writing-mode: vertical-rl;
  height: 4em;
  color: black;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin-left: 96vw;
  padding-top: 240px;
  color: rgb(0,0,0,0.75);
}

h2.MISSION{
  font-family: "Georgia";
  font-size: 5vw;
  color: rgb(0,0,0,0.7);
  margin-left: 5%;
  padding-top: 5%;
  width: 50%;
  overflow: hidden;
  display:inline-flex;
  padding-bottom: 70px;
}

/* max-width: 1024px */
@media screen and (max-width: 1024px){
  /*navigation*/
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 19px;
    padding-top: 6%;
    overflow: hidden;
    display:inline;
    float: right;
    text-align: right;
  }

  nav li a {

    padding: 3px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #0700EF;
    background-image: linear-gradient(#df7169, #df7169);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
    /* text-decoration: underline solid #5ac09c 3px; */
  }

  nav li a:hover, a:focus {
    text-align: right;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 50px;
    background-size: 100% 5px;
  }


  img.title{
    display: flex;
    float: left;
    margin-top: 109px;
    margin-left: 69px;
    width: 100px;
  }

 .bg {
  /* The image used */
  background-image: url("map.png");
  margin-top: -4vh;
  /* Full height */
  height: auto;
  width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: underline solid #f57c72 1.23px;
  text-decoration-style: wavy;
  color: #f57c72;
  font-size: 15px;
  text-underline-offset: 0.14em;
  text-decoration-thickness: 0.14em;
  
}

a.foot-link:hover  {
  font-family: "PT Sans", serif;
  text-decoration: underline solid #f57c72 1.23px;
  text-decoration-style: wavy;
  color: none;
  font-size: 15px;
  transition: 0.5s;
}

span {
  color: rgb(0,0,0,1);
}

h1.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: none;
  color: rgb(0,0,0,0.75);
  font-size: 15px;
  text-align: left;
  font-weight:lighter;
  width: 75%;
}

p.foot-link  {
  font-family: "PT Sans", serif;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,0,0,0.75);
  font-size: 20px;
  line-height: 0.2;
  text-align: left;
}

img.socials-foot{
  width: auto;
  height: 2vh;
  margin-right: 10px;
  padding-top: 3px;
}

#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 7%;
  width: 90vw;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;

}

#foot.two-column{
  text-align: center;
}

#foot.three-column{
  text-align: right;
}

h2.CORDILLERA{
  writing-mode: vertical-rl;
  height: 16em;
  color: black;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin-left: 96vw;
  padding-top: 100%;
  color: rgb(0,0,0,0.75);
  z-index: 1;
}

h2.MISSION{
  font-family: "Georgia";
  font-size: 8vw;
  color: rgb(0,0,0,0.7);
  margin-left: 5%;
  padding-top: -15%;
  width: 70%;
  overflow: hidden;
  display:inline-flex;
  padding-bottom: 70px;
  z-index: 100;
}
}
