body, html {
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color:   #f3ecec;
}
/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  padding-top: 50px;
  margin-right: 65px;
  overflow: hidden;
  display: flex;
  float: right;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.28, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
}

img.title{
  display: flex;
  float: left;
  margin-top: 44px;
  margin-left: 49px;
  width:60px;
}


nav li a {
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #222a6e;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 4% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {
  opacity: 0.9;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-size: 100% 25px;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 0%;
  width: 90vw;
}

/* footer links  */
a.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: -5%;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 15% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
  text-decoration: none;
}

/* footer links  */
a.foot-link:hover  {
  font-size: 16px;
  transition: 0.5s;
  opacity: 0.9;
  text-decoration: none;
  background-size: 30% 25px;
}

span {
  color: #222a6e;
  letter-spacing: 0.5px;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
}

/* footer header  */
p.foot-link  {
  font-family: "Georgia";
  text-decoration: none;
  font-weight: bold;
  color: #222a6e;
  font-size: 20px;
  text-align: left;
  margin-left: -8%;
}

/* footer social icons  */
img.socials-foot{
  margin-right: 10px;
  padding-top: 3px;
  margin-left: 8px;
  margin-bottom: -7px;
  width: 25px;
}

#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 5%;
  width: 95vw;
  bottom: 1%;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;
}

#foot.two-column{
  text-align: center;
}

#foot.three-column{
  text-align: right;
}


h2.We-are{
  font-family: "Georgia";
  font-size: 48px;
  color: #1d2765;
  padding-top: 10%;
  text-align: center;
  font-style: italic;
  z-index: 4000;
  margin-left: 1%;
  margin-right: 1%;
  text-rendering: geometricPrecision;
}

p.We-are{
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-size: 18px;
  color: #1d2765;
  text-align: center;
  margin-bottom: 40%;
  z-index: 4000;
  margin-left: 20%;
  margin-right: 20%;
  text-rendering: geometricPrecision;
  font-weight: thin;
}


.blob {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 0;
}
.blob:before, .blob:after {
  content: '';
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  width: 50%;
  opacity: 1;
  height: 250px;
  background-color: #b6d9f9 ;
  color: #b6d9f9 ;
  box-shadow: 0 0 0 1px;
  z-index: 0;
}
.blob:before {
  left: calc(50% - 100%/2);
  border-radius:100% 0 0 0;
  -webkit-animation: wobble 2s alternate ease-in-out infinite;
  animation: wobble 2s alternate ease-in-out infinite;
  z-index: 1;
  z-index: 0;
}
.blob:after {
  left: 50%;
  border-radius: 0 100% 0 0;
  animation: wobble 2s ease-in-out alternate-reverse infinite;
  z-index: 0;
}


@-webkit-keyframes wobble {
  0% {
    -webkit-transform: scaleX(1.3);
    transform: scaleX(1.3);
  }
  100% {
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: scaleX(1.3);
    transform: scaleX(1.3);
  }
  100% {
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
}

/* max-width: 1024px */
@media screen and (max-width: 1024px){

  img.title{
    margin-top: 109px;
    margin-left: 69px;
    width: 100px;
  }

  img.socials-foot {
    margin-bottom: -4px;
  }

  /*navigation*/
  nav ul {
    display:inline;
  }

  .bg {
    margin-top: -4vh;
    height: auto;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* animated highlight for mobile */
  a.foot-link  {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    background-position: 50% 85%;
  }

  /* animated highlight for mobile */
  a.foot-link:hover  {
    background-size: 26% 25px;
  }


  /* footer info */
  h1.foot-link  {
    font-size: 18px;
    width: 50%;
    margin-left:  19vw;
    text-align: center;
  }

  /* footer header */
  p.foot-link  {
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
  }


  #foot.row{
    display: flex;
    flex-direction:  column;
    margin-left: 5%;
    width: 90vw;
  }

  #foot.column{
    display: flex;
    flex-direction:  column;
    flex: 1;
    border-spacing: 5px;
    margin: 50px;
    z-index: 400;
  }

  #foot.one-column{
    text-align: center;
  }

  #foot.two-column{
    text-align: center;
  }

  #foot.three-column{
    text-align: center;
  }

  #socials.row{
    margin-left: 30%;
    overflow: hidden;
    display:inline-flex;
    padding-bottom: 17vh;
  }

  #socials img {
    width: 7.5vw;
    height: auto;
    opacity: 0.75;
    margin-right: 50%;
  }

}
