body, html {
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
  margin: 0;
    z-index: 1;
  background-color:   #f3ecec;
  position: relative;
}



.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 0%;
  width: 90vw;
}

/* footer links  */
a.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: -5%;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 15% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
  text-decoration: none;
}

/* footer links  */
a.foot-link:hover  {
  font-size: 16px;
  transition: 0.5s;
  opacity: 0.9;
  text-decoration: none;
  background-size: 30% 25px;
  z-index: 400;
}

span {
  color: #222a6e;
  letter-spacing: 0.5px;
  z-index: 400;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
  z-index: 400;
}

/* footer header  */
p.foot-link  {
  font-family: "Georgia";
  text-decoration: none;
  font-weight: bold;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  margin-left: -8%;
  z-index: 400;
}

/* footer social icons  */
img.socials-foot{
  margin-right: 10px;
  padding-top: 3px;
  margin-left: 8px;
  margin-bottom: -7px;
  width: 25px;
  z-index: 400;
}

#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 5%;
  width: 95vw;
  bottom: 1%;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 0px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;
  z-index: 400;
}

#foot.two-column{
  text-align: center;
  z-index: 400;
}

#foot.three-column{
  text-align: right;
  z-index: 400;
}

#submit.row{
  width: 100%;
    display: flex;
}

h2.SUBMIT{
  font-style: italic;
  font-family: "Georgia";
  font-size: 40px;
  z-index: 400;
  margin: 0 auto;
  color: #222a6e;;
  padding-top: 150px;
  margin-bottom: 45vh;
  font-weight: 600;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  text-align: center;
}

p.SUBMIT  {
  z-index: 400;
  color: #222a6e;;
  margin: 0 auto;
  width: 65%;
  padding-bottom: 55vh;
  font-weight: 400;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-size: 18px;
  font-weight: thin;
  line-height: 1.5;
  z-index: 400;
}


.We-are{
  z-index: 400;
}
.blob {
  position:fixed;
  display: block;
  left: 0;
  top: -49%;
  bottom: auto;
  fill: #b5d7f8;
  width: 600px;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  /* transform-origin: 50% 50%; */
}

@keyframes move {
  0%   { transform: scale(1.3)   translate(10vw, 170px); }
  38%  { transform: scale(1.3) translate(50vw, 170px) rotate(160deg); }
  78%  { transform: scale(1.3) translate(10vw, 170px) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(10vw, 170px) rotate(-20deg); }
  100% { transform: scale(1.3)   translate(10vw, 170px); }
}

/* max-width: 1024px */
@media screen and (max-width: 700px){

  h2.SUBMIT{
    width: 300px;
  }
}
