body, html {
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color:   #f3ecec;
}

/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  padding-top: 50px;
  margin-right: 65px;
  overflow: hidden;
  display: flex;
  float: right;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.28, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
}

img.title{
  display: flex;
  float: left;
  margin-top: 44px;
  margin-left: 49px;
  width:60px;
}

nav li a {
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #222a6e;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 4% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {
  opacity: 0.9;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-size: 100% 25px;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 0%;
  width: 90vw;
}

.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

.one-column{
  text-align: center;
}

.two-column{
  text-align: center;
}

.three-column{
  text-align: right;
}

/* footer links  */
a.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: -5%;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 15% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
  text-decoration: none;
}

/* footer links  */
a.foot-link:hover  {
  font-size: 16px;
  transition: 0.5s;
  opacity: 0.9;
  text-decoration: none;
  background-size: 30% 25px;
}

span {
  color: #222a6e;
  letter-spacing: 0.5px;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
}

/* footer header  */
p.foot-link  {
  font-family: "Georgia";
  text-decoration: none;
  font-weight: bold;
  color: #222a6e;
  font-size: 20px;
  text-align: left;
  margin-left: -8%;
}

/* footer social icons  */
img.socials-foot{
  margin-right: 10px;
  padding-top: 3px;
  margin-left: 8px;
  margin-bottom: -7px;
  width: 25px;
}

#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 5%;
  width: 95vw;
  bottom: 1%;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;
}

#foot.two-column{
  text-align: center;
}

#foot.three-column{
  text-align: right;
}

h2.We-are{
  font-family: "Georgia";
  font-size: 20vw;
  color: #1d2765;
  padding-left: 17%;
  padding-top: 0%;
  font-style: italic;
  width: 80%;
  line-height: 0.01;
  z-index: 400;
  margin-bottom: -2%;
}

h2.paragraph  {
  z-index: 400;
  margin-left: 30%;
  margin-right: 15%;
  color: #1d2765;
  margin-top: -19vh;
  padding-bottom: 130px;
  font-weight: 400;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-size: 18px;
  line-height: 1.5;
}

h2.Name  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 1.6vw;
  color: #1d2765;
  font-weight: 400;
  width: 70%;
  line-height: 1;
  padding-bottom: 0px;
  text-align: center;
  padding-left: 15%;
}

p.Position  {
  font-family: "Georgia";
  font-size: 2.3vw;
  margin-bottom: -2px;
  font-weight: 600;
  text-align: center;
}

span {
  color:#1d2765;
}

#socials.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 9%;
  margin-top: -1200%;
  width: 90vw;
  overflow: hidden;
  display:inline-flex;
  padding-bottom: 12vw;
  z-index: 800;
}

#socials.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
  margin-right: 5%;
}

#socials.one-column{
  text-align: center;
  margin-left: 0%;
}

#socials.two-column{
  text-align: center;
}

#socials.three-column{
  text-align: center;
}

#socials.four-column{
  text-align: center;
}

#socials.five-column{
  text-align: center;
}

#socials img {
  height: auto;
  margin-right: 50%;
}

#second img {
  height: auto;
  margin-right: 50%;
  margin-top: 25%;
}

#third img {
  height: auto;
  margin-right: -10%;
  margin-top: 10%;
}

#fourth img {
  height: auto;
  margin-left: -20%;
  margin-top: 45%;
}

#five img {
  height: auto;
  margin-left: 20%;
  margin-top: -10%;
}

#member.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 16%;
  margin-top: 0%;
  width: 70vw;
  overflow: hidden;
  display:inline-flex;
  z-index: 800;
}

#member.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  z-index: 400;
  margin-right: 5%;
  padding-bottom: 25px;
  padding-top: 50px;
  margin-bottom: 4vw;
  background:  #f7e1d2;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
}

#member.one-column{
  text-align: center;
  margin-left: 0%;
}

#member.two-column{
  margin-top: 0%;
  text-align: center;
}

#member img {
  height: 20vw;
  width:auto;
  border-radius: 100%;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.1);
}

hr.line {
  width: 75%;
  margin-left: 15vw;
  height: 1%;
  opacity: 0.2;
}
/* max-width: 1024px */
@media screen and (max-width: 1024px){
  img.title{
    margin-top: 109px;
    margin-left: 69px;
    width: 100px;
  }

  img.socials-foot {
    margin-bottom: -4px;
  }

  /*navigation*/
  nav ul {
    display:inline;
  }

  .bg {
    margin-top: -4vh;
    height: auto;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* animated highlight for mobile */
  a.foot-link  {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    background-position: 50% 85%;
  }

  /* animated highlight for mobile */
  a.foot-link:hover  {
    background-size: 26% 25px;
  }


  /* footer info */
  h1.foot-link  {
    font-size: 18px;
    width: 50%;
    margin-left:  19vw;
    text-align: center;
  }

  /* footer header */
  p.foot-link  {
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
  }


  #foot.row{
    display: flex;
    flex-direction:  column;
    margin-left: 5%;
    width: 90vw;
  }

  #foot.column{
    display: flex;
    flex-direction:  column;
    flex: 1;
    border-spacing: 5px;
    margin: 50px;
    z-index: 400;
  }

  #foot.one-column{
    text-align: center;
  }

  #foot.two-column{
    text-align: center;
  }

  #foot.three-column{
    text-align: center;
  }

  h2.paragraph  {
    z-index: 400;
    margin-left: 24%;
    margin-right: 10%;
    color: #1d2765;
    margin-top: -10vh;
    padding-bottom: 140px;
    font-weight: 400;
    font-family: 'Helvetica', sans-serif;
    font-stretch:extra-expanded;
    transform: scale(1.1, 1);
    -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
    -moz-transform: scale(1.1, 1); /* Firefox */
    -ms-transform: scale(1.1, 1); /* IE 9+ */
    -o-transform: scale(1.1, 1); /* Opera */
    letter-spacing: 0.5px;;
    font-size: 16px;
    line-height: 1.5;
  }
}
