body, html {
  font-family: "Helvetica";
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color:   #f3ecec;
}

/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  padding-top: 50px;
  margin-right: 65px;
  overflow: hidden;
  display: flex;
  float: right;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.28, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
}

img.title{
  display: flex;
  float: left;
  margin-top: 44px;
  margin-left: 49px;
  width:60px;
}

nav li a {
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #222a6e;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 4% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {
  opacity: 0.9;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-size: 100% 25px;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 0%;
  width: 90vw;
}

.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

.one-column{
  text-align: center;
}

.two-column{
  text-align: center;
}

.three-column{
  text-align: right;
}

/* footer links  */
a.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: -5%;
  background-image: linear-gradient(#cdddfb, #cdddfb);
  background-position: 15% 85%;
  background-repeat: no-repeat;
  background-size: 0% 25px;
  transition: background-size .3s;
  text-decoration: none;
}

/* footer links  */
a.foot-link:hover  {
  font-size: 16px;
  transition: 0.5s;
  opacity: 0.9;
  text-decoration: none;
  background-size: 30% 25px;
}

span {
  color: #222a6e;
  letter-spacing: 0.5px;
}

/* footer info */
h1.foot-link  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  font-weight:400;
  width: 75%;
  letter-spacing: 0.5px;
}

/* footer header  */
p.foot-link  {
  font-family: "Georgia";
  text-decoration: none;
  font-weight: bold;
  color: #222a6e;
  font-size: 16px;
  text-align: left;
  margin-left: -8%;
}

/* footer social icons  */
img.socials-foot{
  margin-right: 10px;
  padding-top: 3px;
  margin-left: 8px;
  margin-bottom: -7px;
  width: 25px;
}
.header-block{
  padding-top: 40px;
}
#foot.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 5%;
  width: 95vw;
  bottom: 1%;
}

#foot.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
}

#foot.one-column{
  text-align: center;
}

#foot.two-column{
  text-align: center;
}

#foot.three-column{
  text-align: right;
}

/* h2.We-are{
  font-family: "Georgia";
  font-size: 20vw;
  color: #1d2765;
  padding-left: 17%;
  padding-top: 0%;
  font-style: italic;
  width: 80%;
  line-height: 0.01;
  z-index: 400;
  margin-bottom: -2%;
} */

img.team-img {
  justify-content: center;
  width: 200px;
  /* position: absolute; */
  left: calc(50% - 100px);
  top: 19vh;
}

/* img.We-are {
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  left: calc(50% - 100px);
  top: 19vh;
  background-color: #d2dbef;
    display:inline;
} */



h2.We-are{
  font-family: "Georgia";
  font-size: 40px;
  z-index: 400;
  /* margin-left: 15%; */
  color: #222a6e;;
  margin-top: 17vh;
  width: 100%;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;

}

/* font alingment and size of position */
h2.paragraph  {
  z-index: 400;
  margin-left: 23%;
  color: #222a6e;;
  margin-top: 15px;
  width: 65%;
  margin-bottom: 0;
  font-weight: 400;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  letter-spacing: 0.5px;;
  font-size: 18px;
  font-weight: thin;
  line-height: 1.5;
  z-index: 400;
  margin-bottom: 10vh;
}

/* font alingment and size of position */
h2.Name  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 12px;
  font-weight: 400;
  width: 70%;
  line-height: 1;
  padding-bottom: 0px;
  text-transform: lowercase;
  text-align: center;
  padding-left: 15%;
}

/* the positions */
span.Name {
  background: #cddbf9;
  border-radius: 15px;
  color: #1c58ea;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

/* about you */
h2.Blurb  {
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 16px;
  color: #898d91;
  font-weight: 400;
  width: 70%;
  line-height: 1;
  padding-bottom: 0px;
  text-align: center;
  padding-left: 15%;
}

/* names */
p.Position  {
  font-family: "Georgia";
  font-size: 20px;
  margin-bottom: -2px;
  font-weight: 600;
  color: #282d46;
  text-align: center;
}

/* coloring of the names */
span {
  color:#282d46;
}

#socials.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  z-index: 400;
  margin-left: 9%;
  margin-top: -1200%;
  width: 90vw;
  overflow: hidden;
  display:inline-flex;
  padding-bottom: 12vw;
  z-index: 800;
}

#socials.column{
  display: flex;
  flex-direction:  column;
  flex: 1;
  border-spacing: 5px;
  margin: 10px;
  z-index: 400;
  margin-right: 5%;
}

#socials.one-column{
  text-align: center;
  margin-left: 0%;
}

#socials.two-column{
  text-align: center;
}

#socials.three-column{
  text-align: center;
}

#socials.four-column{
  text-align: center;
}

#socials.five-column{
  text-align: center;
}

#socials img {
  height: auto;
  margin-right: 50%;
}

#second img {
  height: auto;
  margin-right: 50%;
  margin-top: 25%;
}

#third img {
  height: auto;
  margin-right: -10%;
  margin-top: 10%;
}

#fourth img {
  height: auto;
  margin-left: -20%;
  margin-top: 45%;
}

#five img {
  height: auto;
  margin-left: 20%;
  margin-top: -10%;
}

#member.row{
  /* display: flex;
  flex-direction:  row;
  flex-wrap: wrap; */
  z-index: 400;
  /* margin-left: 16%;
  margin-top: 0%; */
  width: 100vw;
  /* overflow: hidden;
  display:inline-flex; */
  z-index: 800;
    /* flex: 0.3; */
    display: flex;
     justify-content: center;
   align-items: center;
}

#member.column{
  /* display: flex;
  flex-direction:  column; */


  border-spacing: 5px;
  z-index: 400;
  flex: 0.18;
  /* margin-right: 5%;
  padding-bottom: 25px;
  padding-top: 50px;
  margin-bottom: 4vw;

  0.7275405007 is width */

}

#member.one-column{
  text-align: center;
  /* margin-left: 10%; */
  background:  #f8f8f8;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
  width: 254px;
}

#member.two-column{
  margin-top: 0%;
  height: 350px;
  width: 254px;
  text-align: center;
  background:  #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
}

#member.three-column{
  margin-top: 0%;
  height: 350px;
  width: 254px;
  text-align: center;
  background:  #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
}

#member img {
  height: 130px;
  margin-top: 45px;
  width:auto;
  border-radius: 100%;
  box-shadow: 0px 5px 10px rgb(0,0,0,0.1);
}

a
{
  text-decoration: none;
  color: #8d949d;
  transition: color 0.3s ease;
}

a:hover
{
  color: #2c2f46;
}


/* max-width: 1024px */
@media screen and (max-width: 1024px){


  img.socials-foot {
    margin-bottom: -4px;
  }




  /* .nav-links {
    margin-top: 0px;
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 100% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 9000;
  } */

  /* .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  } */
  .bg {
    margin-top: -4vh;
    height: auto;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* animated highlight for mobile */
  a.foot-link  {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    background-position: 50% 85%;
  }

  /* animated highlight for mobile */
  a.foot-link:hover  {
    background-size: 26% 25px;
  }


  /* footer info */
  h1.foot-link  {
    font-size: 18px;
    width: 90%;
    /* margin-left:  21vw; */
    text-align: center;
    margin: 0 auto;
  }

  /* footer header */
  p.foot-link  {
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
  }


  #foot.row{
    display: flex;
    flex-direction:  column;
    margin-left: 5%;
    width: 90vw;
  }

  #foot.column{
    display: flex;
    flex-direction:  column;
    flex: 1;
    border-spacing: 5px;
    margin: 50px;
    z-index: 400;
  }

  #foot.one-column{
    text-align: center;
  }

  #member.column {
    /* flex: 2.78;
    width: 500px; */
    flex-direction:  column;
  }

  #foot.two-column{
    text-align: center;
  }

  #foot.three-column{
    text-align: center;
  }


}
